* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Hevetica, sans-serif;
}

#login {
    display:block;
    width: 100%;
    height: auto;
}
#chat {
    display:none;
    width: 100%;
    height: auto;
}

.messages {
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages p {
    margin-bottom: 5px;
    max-width: 90%;
    text-align: left;
    padding: 3px;
    border-radius: 3px;
}


.messages p.message {
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
    background: rgba(36, 150, 175, 0.5);
    color: #000;
}

.messages p.me {
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
    text-align: right;
    background: rgb(51, 124, 17);
    color: #000;
    margin-left: auto;
}


.messages p span.user {
    width: 100%;
    display: block;
    font-size: 10px;
    margin-bottom: 3px;
    text-decoration: underline;
}

.broadcast {
    font-size: 10px;
    font-style: italic;
    color: #585858;
}
